* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}


body {
    background: rgb(245, 245, 245);
}

header {
    text-align: center;
    background: #051435;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;

}

main {
    display: flex;
}

.todaysWeather {
    background-color: rgb(149, 228, 224);  
    border-radius: 5px;
    padding: 20px 80px 20px 20px;
    justify-content: space-around;
    margin-right: 600px;
}

.display {
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.searchButton {
    width: 100%;
}

.card {
 background-color: rgb(168, 207, 223);   

}

.search {
    margin-left: 100px;
}